@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

.sample-hub {
    font-size: $fontSizeM;
}

.sample-hub-section {
    margin-top: 20px;
}

.sample-picker {
    margin-left: 8px;
}