@import "azure-devops-ui/Core/_platformCommon.scss";

#root {
    overflow: hidden;
}

.content {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.title {
    font-size: $fontSizeM;
    margin: 0
}

.status {
    font-size: 70pt;
    text-align: center;
}

.blink {
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

